body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.firstPage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#starty {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#starty::-webkit-media-controls {
    display: none;
}
#starty::-webkit-media-controls-enclosure {
    display: none;
}

.startGame{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media (min-width: 2015px){
    .startGame{
        top: 902px;
        left: 50%;
    }
}